node_modules/
dist/
*.log
.env
src/node_modules/
frontend/node_modules/
node_modules/
dist/
package-lock.json

node_modules
*/node_modules
src/node_modules
frontend/node_modules
dist
*/dist
src/dist
frontend/dist
build
*/build
package-lock.json
*/package-lock.json
